docs
/Tykkipeli/Tykkipeli.sln
/Tykkipeli/Tykkipeli.suo
/Tykkipeli/Tykkipeli.v11.suo
/Tykkipeli/Tykkipeli.opensdf
/Tykkipeli/Tykkipeli.sdf
/Tykkipeli/Debug/*.obj

/Tykkipeli/Debug/cl.command.1.tlog
/Tykkipeli/Debug/CL.read.1.tlog
/Tykkipeli/Debug/CL.write.1.tlog
/Tykkipeli/Debug/link.444-cvtres.read.1.tlog
/Tykkipeli/Debug/link.444-cvtres.write.1.tlog
/Tykkipeli/Debug/link.444-rc.read.1.tlog
/Tykkipeli/Debug/link.444-rc.write.1.tlog
/Tykkipeli/Debug/link.444.read.1.tlog
/Tykkipeli/Debug/link.444.write.1.tlog
/Tykkipeli/Debug/link.command.1.tlog
/Tykkipeli/Debug/link.read.1.tlog
/Tykkipeli/Debug/link.write.1.tlog
/Tykkipeli/Debug/Tykkipeli.exe
/Tykkipeli/Debug/Tykkipeli.ilk
/Tykkipeli/Debug/Tykkipeli.lastbuildstate
/Tykkipeli/Debug/Tykkipeli.log
/Tykkipeli/Debug/Tykkipeli.pdb
/Tykkipeli/Debug/vc110.idb
/Tykkipeli/Debug/vc110.pdb
